.card-3d {
  background-color: white;
    border: 2px solid goldenrod;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  perspective: 1000px;
  width: 100%;
  max-width: 280px;
  margin: auto;
  text-align: center;
}

.card-3d:hover {
  transform: translateY(-5px) rotateX(4deg) rotateY(4deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

/* Botones */
.btn-completar,
.btn-revertir,
.btn-eliminar {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-completar {
  background-color: #0bda51;
  color: white;
}

.btn-completar:hover {
  background-color: #079c3d;
}

.btn-revertir {
  background-color: orange;
  color: white;
}

.btn-revertir:hover {
  background-color: #ff8c00;
  color: black;
}

.btn-eliminar {
  background-color: red;
  color: white;
}

.btn-eliminar:hover {
  background-color: darkred;
}

/* Estilos para los cuadrantes */
.stack-container {
    position: relative;
    height: 350px;
    perspective: 1000px;
}

.card-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
}